@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat&display=swap');

/* Flex Container */
.container {
	max-width: 100%;
  max-height: 5000px;
	margin: 0 auto;
	display: flex;
}

 /* FLEX divisórias */
.space-2 {
	flex: 2;
  padding-left: 10%;
}

.space-3{
	flex: 3;
}


body{
  margin: 0;
}



/*Menu*/
#header{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 240px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: whitesmoke;
  z-index: 3;
}


  /* Logo  */
.myName{
  font-family: 'Berkshire Swash', cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  letter-spacing: 3.12px;
}

  /* Links de navegação entre telas */
li, ul{
  list-style: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 3.12px;
  line-height: 2.25em;
  padding: 0%;
}

a{
  text-decoration: none;
}

a:hover{
  transition: color .2s 0s ease-in-out;
  color: #dad6d6;
}


  /* Social Media */
.bottons{
    bottom: 0;
    padding-bottom: 40px;
    position: absolute;
    width: 80%;
}

.icon{
  height: 45px;
  width: 45px;
}

.navigation-midias{
  display: flex;
  justify-content: space-between;
}





/* Conteúdo Principal */
#main{
  padding-top: 0;
  margin-left: 0;
    padding-left: 240px;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden; /*para tirar o scroll*/
}


.content{
  padding: 0% 5%;
}

.introdution{
  text-align: center;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
}

.projects{
  min-height: 100%;

}

article{
  /*width: 100%;
  margin-bottom: 4.83871%;
  margin-right: 0px;*/
  clear: left;
  overflow: hidden;
  position: relative;
}

.project-item1, .project-item2{
  display: inline-flex;
 
}

.project-item1{
  /*margin-right: 4%;*/
}

.imgProject{
  overflow: hidden;
  /* padding-bottom: 10%; */
  position: relative;
  z-index: 1;
  margin: 0;
  /*width: 108%;*/
}


.descrition-project{
  justify-content: center;
    display: flex;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.basic{
  color: rgb(133, 131, 131);
}

.loaded{
  display: flex;
  flex: 3;
  /* height: 300px; 
  width: 100%;*/
}

.large, .small{
  height: 60%;
  width: 100%;
}

/* .small{
  height: 335px;
} */


.project-item3{
  margin-right: 4%;
}

#img{
  vertical-align: middle;
}

/* quando a largura da tela for menor que 1305px é aplicada a seguinte estilização para a imagem do terceiro projeto */
@media (max-width:1348px) {

  /* .loaded-large{
    display: flex;
    flex: 3;
    height: 300px;
    width: 93%;
  } 

  .large{
    height: 335px;
  }*/
}


footer{
  background: linear-gradient(5deg, #801336, #C72C41);
  /* background-color: #C72C41; */
  padding: 2%;
  text-align: right;

  align-self: center;
  color: rgba(255, 248, 248, 0.68);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* Faltou deixar a imagem mais opaca, com opacidade quando o mouse passar por cima tem um trecho comentado sobre isso. */

